<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="master::admin-head"></th:block>

<body>
<div id="wrapper">
    <!-- Menu left -->
    <nav th:replace="master::admin-menuleft"></nav>
    <!-- end menu left -->
    <div id="page-wrapper" class="gray-bg">
        <div class="row">
            <!-- Navbar top -->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0);"><i class="fa fa-navicon"></i></a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href=""><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </nav>
            <!--./ end navbar top -->
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="col-lg-12 pl-5">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Danh sách loại rượu</a>
                                    </li>
                                    <li class="active">
                                        <a href="">Thêm mới</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default border-square">
                                        <div class="ibox-title">
                                            <h3 class="pull-left"><i class="fa fa-industry"></i>Thêm sản phẩm</h3>
                                            <div>
                                                <!--<th:block th:if="${message}">
                                                    <span class="message"><b style="color: red; margin-left: 300px" th:text="${message}"></b></span>
                                                </th:block>-->
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="nav nav-tabs row mb-5" id="navTabs-accessory">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#product1">Thêm mới sản phẩm</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="resultTabs" style="margin-top: 10px">
                                                <!-- thêm thủ công -->
                                                <div id="product1" class="tab-pane fade in active ">
                                                    <form method="POST" action="/update"  id="form-insert" th:object="${city}" >
                                                        <input type="hidden" th:field="*{id}" th:value="${city.id}"  placeholder="" />
                                                        <div class="col-lg-12 row">
                                                            <div class="col-lg-6 row" style="float: left;">
                                                                <div class="form-group">
                                                                    <label>Tên </label>
                                                                    <input class="form-control" name="name" th:field="*{name}" th:value="${city.name}"   placeholder="" style="width: 80%"  />
                                                                    <p style="color: red"></p>
                                                                </div>
                                                                <div class="form-group" style="width: 417px;">
                                                                    <label>Quốc Gia</label>
                                                                    <select  name="country" th:field="*{country}"  class="form-control select2 select-group" style="width: 80%">
                                                                        <option th:value="${city.country.id}" th:text="${city.country.name}"  ></option>
                                                                        <option th:each="c : ${country}" th:value="${c.id}" th:text="${c.name}"  style="width: 417px"></option>
                                                                    </select>
                                                                    <p style="color: red"></p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Diện tích</label>
                                                                    <input class="form-control" name="acreage" th:field="*{acreage}"  th:value="${city.acreage}"    placeholder="" style="width: 80%"  />
                                                                    <p style="color: red"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 row" style="float: left;">
                                                                <div class="form-group">
                                                                    <label>Dân số</label>
                                                                    <input class="form-control" name="population"  th:field="*{population}" th:value="${city.population}"  placeholder="" style="width: 80%"  />
                                                                    <p style="color: red"></p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>GDP</label>
                                                                    <input class="form-control" name="gdp" th:field="*{gdp}" th:value="${city.gdp}"  style="width: 80%" />
                                                                    <p style="color: red"> </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 row">
                                                            <div class="form-group">
                                                                <label for="comment">Mô tả</label>
                                                                <textarea class="form-control" th:field="*{introduce}"  th:text="${city.introduce}"  name="introduce" rows="5" id="comment"></textarea>
                                                            </div>
                                                        </div>
                                                        <div style="text-align: center">
                                                            <button type="submit" class="btn btn-success" name="btn_submit">
                                                                <i class="fa fa-save fa-fw"></i> Lưu lại
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- kết thúc thêm thủ công -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text-center">
                <strong>Copyright</strong> SHI-V Company &copy; 2018
            </div>
        </div>
    </div>
</div>
<th:block th:replace="master::admin-jslink"></th:block>
</body>
</html>